.toggle-btn-list {
  position: relative;
  background: white;
  display: inline-flex;
  overflow: hidden;
  border-radius: 33px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#btn {
  left: 3%;
  top: 10%;
  position: absolute;
  width: 45%;
  height: 80%;
  background: var(--purple-100);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 30px;
  transition: 0.5s;
}
