.select-container {
  position: relative;
  width: 20rem;
  //   width: 100%;
}

.select-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(223, 225, 230);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  &:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
  }
}

.options-container {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 320px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 2px solid rgb(223, 225, 230);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  overflow-y: auto;
  z-index: 1;
}

.option-wrapper {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  &:hover {
    background-color: rgb(223, 225, 230);
    border-radius: 5px;
  }
}

.option {
  color: var(--white);
}

.option-background {
  background-color: var(--purple-100);
  border-radius: 5px;
  &:hover {
    background-color: var(--purple-100);
    border-radius: 5px;
  }
}

.rotate-logo {
  rotate: 180deg;
}
