.container {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // max-height: 600px;
  // // overflow-y: scroll;
  // overflow: hidden;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  border-radius: 20px;
}
.transaction-empty-container {
  display: flex;
}
.transaction-empty {
  justify-content: center;
  align-items: center;
}
